@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200&display=swap');

body {
    font-family: 'Poppins';
}
p{
    font-size: 16px;
    /* Font size: 16px*/
    /* - Weights: 400, 500, 600, 700 */
}

* {
    box-sizing: border-box;
}

html,
body {
    color: white;
    height: 100%;
    width: 100%;
    background-image: url("/images/bg-intro-desktop.png");
    background-color: rgb(255 121 120);
    display: flex;
    color: white;
    align-content: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.div-form{
  border-radius: 5px;
 background-color: white;
 height: 327px;

}
.div-button{
 color: blue; 
 display: flex;
 flex-direction: column;
 align-content: center;
 justify-content: center;
 align-items: center;
}
.main{
    
    display: flex;
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: royalblue; */
}

:root {
--color-light-red: rgba(255, 0, 0, 1);
--color-light-green: rgba(51, 204, 51, 1);
--color-light-blue: rgba(0, 119, 255, 1);
--color-dark-blue: rgba(17, 34, 68, 1);
--color-Grayish-red: rgba(196, 204, 217, 1);
}

.main .left{
    /* background-color: aqua; */
    height: 400px;
    margin-left: 43px;
}
main .right
{
    /* background-color: red; */
        margin-right: 43px;
        width: 40%;
        margin-left: 43px;
}
.left-h1
{
  margin-top: 150px;
  font-size: 35px;
  font-weight: 900;
}

.name
{
  border-width: 1px;
  border-color: #cccccc;
  border-style: solid;
  font-size: 14px;
  border-radius: 5px;
  padding: 9px;
  width: 89%;
  height: max-content;
}
.button {
    font-size:16px;
    font-family:Arial;
    height: 36px;
    border-radius: 6%;
    color: white;
    width: 100%;
    background-color: rgb(55 204 138);
    border: 0 var(--color-light-green);
    /* background-color:var(--color-light-green) */
  
                
}

.button:hover  {
    background: linear-gradient( #1be6b0, #1be6b0);
  }
  .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 335px;
    gap: 16px;

  }
  .last-span
  {
    color: red;
  }
  
  .h6
  {
    color: black;
    font-size: 3px;
    padding-left: 12px;
    font-weight: 100;
  }
  .h6-r{
    color: white;
    box-shadow: 0px 8px 7px 0px rgb(217 102 104);
    margin: 0;
    margin-bottom: 16px;
    background-color:rgb(78 78 183);
    height: 34px;
    align-content: center;
    border-radius: 6px;
    padding-left: 30px;
    padding-top: 8px;
  }
  .h6-r .span-r
  {
    color: aliceblue;
    margin-top: 30px;
  }